{% load humanize %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load blog_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src={% static "blog/js/blog.js" %}></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <link href={% static "blog/css/blog_detail.css" %} rel="StyleSheet" type="text/css">
    <link href={% static "blog/css/public.css" %} rel="StyleSheet" type="text/css">
    <script>

        //页面滚动至回复框
        $(document).ready(function () {
            $("#blog_reply_button").click(function () {
                $('html, body').animate({
                    scrollTop: $("#reply_text").offset().top
                }, 500);
                $("#reply_text").focus();
            });
        });

        //点击以显示楼中楼
        function show_reply(dom, reply_id) {
            var parent = dom.parentNode;
            for (child in parent.childNodes) {
                if (parent.childNodes[child].id == "reply_button") {
                    parent.childNodes[child].style.display = "none";
                }
                if (parent.childNodes[child].id == "hide_reply_index") {
                    parent.childNodes[child].style.display = "block";
                }
            }

            do {
                parent = parent.nextSibling
                if (parent.id == "reply_in_reply") {
                    parent.style.display = "block";
                    break;
                }
            }
            while (parent.nextSibling)


            //获取楼中楼
            if ($(dom.parentNode.parentNode).find("#reply_button").attr("name") == "on") {
                $(dom.parentNode.parentNode).find("#reply_button").attr("name", "off");
                $(dom.parentNode.parentNode).find("#reply_in_reply")[0].innerHTML = '<iframe id="iframe_lzl' + reply_id + '" src="/replies/' + reply_id + '" frameborder="0" style="padding: 0px; width: 100%; height: 100%;" ></iframe>'
            }

        }

        //ifraim 自适应高度
        function changeheight(id, height) {
            $(id).height(height);
        }

        //点击以隐藏楼中楼
        function hide_replay(dom) {

            var parent = dom.parentNode;
            for (child in parent.childNodes) {
                if (parent.childNodes[child].id == "reply_button") {
                    parent.childNodes[child].style.display = "block";
                }
                if (parent.childNodes[child].id == "hide_reply_index") {
                    parent.childNodes[child].style.display = "none";
                }
            }

            do {
                parent = parent.nextSibling
                if (parent.id == "reply_in_reply") {
                    parent.style.display = "none";
                    break;
                }
            }
            while (parent.nextSibling)

        }


        $(document).ready(function () {

            //POST请求 获取CSRF_Token
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


        });


        $('div[contenteditable]').keydown(function (e) {
            // trap the return key being pressed
            if (e.keyCode === 13) {
                // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
                document.execCommand('insertHTML', false, '<br><br>');
                // prevent the default behaviour of return key pressed
                return false;
            }
        });


        $(document).ready(function () {
            var url = window.location.href.split("?")
            for (var i = 1; i <= $(".page").length; i++) {
                if (i == 1) {
                    $(".page a")[i - 1].href = url[0];
                }
                else {
                    $(".page a")[i - 1].href = url[0] + "?page=" + i;
                }
                if ($(".page a")[i - 1].href == window.location.href) {
                    $(".page a")[i - 1].removeAttribute("href");
                    $(".page a").eq(i - 1).css("font-weight", "bold")
                }
            }


            var s = $("#blog_text")[0].innerHTML;
            s = s.replaceAll("&gt;", ">");
            s = s.replaceAll("&lt;", "<");
            s = s.replaceAll("\n", "<br/>");
            s = s.replaceAll("&quot;", "'");
            $("#blog_text")[0].innerHTML = s;
            for (var i = 0; i < $(".reply_text").length; i++) {
                var ss = $(".reply_text")[i].innerHTML;
                ss = ss.replaceAll("&gt;", ">");
                ss = ss.replaceAll("&lt;", "<");
                ss = ss.replaceAll("\n", "<br/>");
                ss = ss.replaceAll("&quot;", "'");
                $(".reply_text")[i].innerHTML = ss;
            }

        });


    </script>
    <title>Detail</title>
</head>

<body style="background-color:#e4eaff">

{% include 'blog/navigation.html' %}
<div class="list_outer middle">

    <div class="blog_detail_title">
        <strong>
            <p id="blog_title">{{ blog.blog_title }}</p>
        </strong>
    </div>
    <div class="hidden">
        <div class="user_info_outer">

            <div class="lz_corner">楼主</div>

            <div style="text-align:center;margin: 10px">
                <p><img class="head_img" src="{{ blog.head_img }}" width="100" height="100"/></p>
            </div>
            <div style="text-align:center">
                <p><a>{{ blog.user }}</a></p>
            </div>
        </div>
        <div class="blog_text_outer">
            <div class="blog_text">
                <p id="blog_text">{{ blog.blog_text }}</p>
            </div>
            <div class="blog_detail_info hidden">
                <div id="blog_reply_button" style=" float:right;">
                    <p><a>&ensp;回复</a>&ensp;&ensp;&ensp;</p>
                </div>
                <div style=" float:right">
                    <p>
                        {{ blog.pub_date|slice:"5:10" }}
                        {{ blog.pub_date|slice:"11:16" }}
                    </p>
                </div>
                <div style=" float:right">
                    <p>1&ensp;楼&ensp;</p>
                </div>
            </div>

        </div>
    </div>

    {% for reply in replies.results %}

        <div style="overflow:hidden; border-top:solid 1px #999999;">
            <div class="user_info_outer">
                {% if reply.user_obj == blog.user_obj %}
                    <div class="lz_corner">楼主</div>
                {% endif %}
                <div style="text-align:center; margin: 10px">
                    <p><img class="head_img" src="{{ reply.head_img }}" width="100" height="100"/>
                    </p>
                </div>
                <div style="text-align:center">
                    <p><a>{{ reply.user }}</a></p>
                </div>
            </div>
            <div class="blog_text_outer">
                <div class="blog_text">
                    <p class="reply_text" id="reply_text">{{ reply.reply_text }}</p>
                </div>
                <div class="blog_detail_info hidden">
                    <div onclick="hide_replay(this)" id="hide_reply_index" class="hide_reply_index">
                        <p>收起回复</p>
                    </div>
                    <div onclick="show_reply(this, reply_id='{{ reply.id }}')" id="reply_button" style=" float:right;"
                         name="on">
                        <p>&ensp;<a>回复</a>({{ reply.reply_counter }})</p>
                    </div>
                    <div style=" float:right">
                        <p>
                            {{ reply.pub_date|slice:"5:10" }}
                            {{ reply.pub_date|slice:"11:16" }}
                        </p>

                    </div>
                    <div style=" float:right">
                        <p>{{ reply.floor|add:1 }}&ensp;楼&ensp;</p>
                    </div>
                </div>
                <div id="reply_in_reply" style="display: none">

                </div>
            </div>
        </div>

    {% endfor %}


    <div class="page_outer hidden">
        <div class="page_previous_next">
            {% if replies.previous == None %}
                <a></a>
            {% else %}
                <a href=" {{ replies.previous }} ">上一页</a>
            {% endif %}
        </div>

        <div id="page">
            <form id="blog_detail_page_turn">

                <input id="page_to_turn" style="width: 20px;float: left;padding: 0;height: 20px;" value="1"/>
                <p class="total_page" style="float: left;margin: 0">
                    <script>
                        $(".total_page").text(Math.ceil({{ replies.count }} / 10)
                        )
                        ;
                    </script>
                </p>

                <button type="submit" style="float: left">GO</button>
            </form>
        </div>

        <div class="page_previous_next">
            {% if replies.next == None %}
                <a></a>
            {% else %}
                <a href="{{ replies.next }}">下一页</a>
            {% endif %}

        </div>
    </div>

    <div class="post_blog_outer">

        <div style="margin: 10px">
            <a><strong>发表回复</strong></a>
        </div>


        <div style="margin: 10px;width: 90%; border:1px solid black">
            <div class="insert_media">
                <a id="a_insert_img">图片</a>
                <a>视频</a>
                <a>音乐</a>
                <a>表情</a>
                <a>附件</a>
            </div>


            <div id="reply_text_reply" name="reply_text" class="blog_text_edit" contenteditable="true"></div>
            <div style="display: none;">
                <div>想用@提到谁？</div>
                <ul></ul>
            </div>
            <div style="display: none;">
                <div>添加什么话题?</div>
                <ul></ul>
            </div>


        </div>


        <br/>

        <div>
            <button id="subbtn" title="Ctrl+Enter快捷发表" name="{{ blog.url }}">
                发 表
            </button>
        </div>
        <br/>
    </div>

</div>


</body>
</html>
