{% load staticfiles %}
{% load blog_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src={% static "blog/js/blog.js" %}></script>
    <link href={% static "blog/css/blog_index.css" %} rel="StyleSheet" type="text/css">
    <link href={% static "blog/css/public.css" %} rel="StyleSheet" type="text/css">
    <script>
        function onmouseover_blog(dom) {
            //鼠标悬停帖子，栏位变色
            dom.style.background = "#f9f9ff";
        }
        ;

        function onmouseout_blog(dom) {
            //栏位变色还原
            dom.style.background = "#FFF";
        }

        function changeheight(id, height) {
            $(id).height(height);
        }
        function changewidth(id, width) {
            $(id).width(width);
        }


        //悬停 - 侧边栏状态图标更改
        $(document).ready(function () {
            $("ul.float li a").mouseover(function () {
                var t = this.style;
                t.backgroundPositionY = parseInt(t.backgroundPositionY) - 55 + "px";
            }).mouseout(function () {
                var t = this.style;
                t.backgroundPositionY = parseInt(t.backgroundPositionY) + 55 + "px";
            });
        });


        //提交新帖
        $(document).ready(function () {
            //POST请求 获取CSRF_Token
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


        });

        $(document).ready(function () {

            $("#blog_list_outer").css("margin-left", (document.body.clientWidth - $("#blog_list_outer").outerWidth()) / 2).css("float", "left");

            var url = window.location.href.split("?");
            for (var i = 1; i <= $(".page").length; i++) {
                if (i == 1) {
                    $(".page a")[i - 1].href = url[0];
                }
                else {
                    $(".page a")[i - 1].href = url[0] + "?page=" + i;
                }

                if ($(".page a")[i - 1].href == window.location.href) {
                    $(".page a")[i - 1].removeAttribute("href");
                    $(".page a").eq(i - 1).css("font-weight", "bold")
                }
            }

            $("li#to_page_top a").click(function () {
                $('html, body').animate({scrollTop: $('body').offset().top}, 200)
            })

            $("li#refresh_page a").click(function () {
                window.location.reload()
                $(window).scrollTop(0)
            })

            $("li#post_blog a").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div_post_blog").offset().top - $("#nav_in").height()
                }, 500);
                $("#blog_title").focus();
            })

            $("#a_insert_img").click(function () {
                $("#ifm_image")[0].src = "/media_process/fileUpload/";
                $("#ifm_image").eq(0).show().css("top", "100px");//.css("left", document.body.clientWidth / 2 - $("#ifm_image").width() / 2 + "px");
                $("#shadow").eq(0).css("opacity", "0.4").css("zIndex", "999");
            })

            $("#text_login").click(function () {
                $("#ifm_image")[0].src = "/user/login/";
                $("#ifm_image").eq(0).show().css("top", "100px");//.css("left", document.body.clientWidth / 2 - $("#ifm_image").width() / 2 + "px");
                $("#shadow").eq(0).css("opacity", "0.4").css("zIndex", "999");
            })

            $("#text_register").click(function () {
                $("#ifm_image")[0].src = "/user/register/";
                $("#ifm_image").eq(0).show().css("top", "100px");//.css("left", document.body.clientWidth / 2 - $("#ifm_image").width() / 2 + "px");
                $("#shadow").eq(0).css("opacity", "0.4").css("zIndex", "999");
            })

            window.onload = function () {
                $("#blog_detail_outer").css("max-height", "document.body.clientHeight");
            }
            show_blog_img(".blog_title p","");
            for (var i=0;i<$(".blog_title p").length;i++){

                $(".blog_title p")[i].innerHTML=$(".blog_title p")[i].innerText;
            }


        });


    </script>

    <title>Index</title>
</head>

<body style="background-color:#e4eaff">
<iframe id="ifm_image" src="" scrolling="no"
        style="position: fixed; border: none;margin: auto; left:0; right: 0 ;z-index: 1000;display: none"></iframe>
{% include 'blog/navigation.html' %}
<div id="sidebar" class="float sidebar">

    <ul class="float" style="padding:10px;">

        <li id="to_page_top"><a
                style="background:url({% static "blog/pic/float_icon.png" %});"></a>
        </li>
        <li id="refresh_page"><a
                style="background:0 -55px url({% static "blog/pic/float_icon.png" %});"></a>
        </li>
        <li id="post_blog"><a
                style=" background:0 -165px url({% static "blog/pic/float_icon.png" %});"></a>
        </li>
        <li id="share_tieba"><a
                style="background:0 -275px url({% static "blog/pic/float_icon.png" %});"></a>
        </li>
    </ul>
</div>
<div class="hidden">
    <div id="blog_list_outer" class="list_outer">
        <ul>
            {% for b in blog.results %}
                <li onmouseover="onmouseover_blog(this)" onmouseout="onmouseout_blog(this)"
                    style="border-top:1px solid black">
                    <div class="hidden">
                        <div class="reply_bubble" align="center">
                            <span style="background:url({% static "blog/pic/reply_bubble.png" %}); background-size:cover;">{{ b.reply_counter }}</span>
                        </div>
                        <div class="blog_outer hidden">
                            <div class="hidden blog_info">
                                <div class="text blog_title">
                                    <a id="{{ b.id }}" href="{{ b.url }}" title="{{ b.blog_title }}"
                                       onclick="show_blog_detail(this);return false;">{{ b.blog_title }}</a>

                                </div>


                                <div class="blog_date">
                                    <p>
                                        {{ b.pub_date|slice:"5:10" }}
                                        {{ b.pub_date|slice:"11:16" }}
                                    </p>
                                </div>
                                <div class="text blog_user">
                                    <p>{{ b.user }}</p>
                                </div>
                            </div>


                            <div class="hidden reply_info">

                                <div class="blog_title" style="font-size:12px">
                                    <div style="width: 95%;">
                                        <p class="text">{{ b.blog_text }}</p>
                                    </div>
                                </div>


                                <div class="blog_date">
                                    <p>
                                        {{ b.latest_reply|slice:"5:10" }}
                                        {{ b.latest_reply|slice:"11:16" }}
                                    </p>
                                </div>

                                <div class="text blog_user" style="">
                                    <p>
                                        {{ b.latest_reply_user }}
                                    </p>
                                </div>

                            </div>


                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="page_outer hidden">
            <div id="blog_list_previous_page" class="page_previous_next">
                {% if blog.previous == None %}
                    <a></a>
                {% else %}
                    <a href=" {{ blog.previous }}" onclick="show_blog_list(this);return false;">上一页</a>
                {% endif %}
            </div>
            <div id="page">
                <form id="blog_list_page_turn">

                    <input id="page_to_turn" style="width: 20px;float: left;padding: 0;height: 20px;" value="1"/>
                    <p class="total_page" style="float: left;margin: 0">
                        <script>
                            $(".total_page").text(Math.ceil({{ blog.count }} / 10)
                            )
                            ;
                        </script>
                    </p>

                    <button type="submit" style="float: left">GO</button>
                </form>
            </div>

            <div id="blog_list_next_page" class="page_previous_next">
                {% if blog.next == None %}
                    <a></a>
                {% else %}
                    <a href="{{ blog.next }}" onclick="show_blog_list(this);return false;">下一页</a>
                {% endif %}

            </div>
        </div>
        <div id="div_post_blog" class="post_blog_outer">

            <div style="margin: 10px">
                <a><strong>发表新贴</strong></a>
                <a>发起投票</a>
            </div>

            <div class="hidden" style="margin: 10px;">
                <input id="blog_title" type="text" placeholder="请填写标题" name="blog_title" style="width: 80%"/>
            </div>

            <div>
                <div style="margin: 10px">
                    <div style="width: 90%; border:1px solid black">
                        <div class="insert_media">
                            <a id="a_insert_img">图片</a>
                            <a>视频</a>
                            <a>音乐</a>
                            <a>表情</a>
                            <a>附件</a>
                        </div>

                        <div>
                            <div>
                                <div id="blog_text" class="blog_text_edit" name="blog_text" contenteditable="true">
                                </div>

                                <div style="display: none;">
                                    <div>想用@提到谁？</div>
                                    <ul></ul>
                                </div>
                                <div style="display: none;">
                                    <div>添加什么话题?</div>
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div>
                <button id="post_blog" title="Ctrl+Enter快捷发表">
                    发 表
                </button>
            </div>
            <br/>
        </div>

    </div>

    <div id="blog_detail_outer"
         style="position: fixed; border: 1px solid black;background-color: #ffffff;display: none;overflow:auto"></div>
</div>

</body>
</html>


