{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog index</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.js.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.js.css' %}">
    <title>blog</title>
    -->
</head>
<body>

 {% include 'users/base/user_lable.html' %}
<br/>
<br/>
<br/>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tag %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>作者</th>
            <th>发布时间</th>
            <th>最后回复</th>
            <th>回复</th>
            <th colspan="3">操作</th>
        </tr>
        </thead>
        {% if latest_list %}
            <tbody>
            {% for b in latest_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ b.0.blog_title }}</td>
                    <td>{{ b.0.user.username }}</td>
                    <td>{{ b.0.pub_date }}</td>
                    {% if b.1.pub_date %}
                    <td>{{ b.1.pub_date }}</td>
                    {% else %}
                    <td>/</td>
                    {% endif %}
                    <td>{{ b.2 }}</td>
                    <td><a href="{% url 'blog:detail' b.0.id %}">Show</a></td>
                    <td>
                        <a href="{% url 'blog:edit' b.0.id %}">
                            {% if b.0.user.username == user.username %}
                                Edit
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{% url 'blog:delete' b.0.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <div>No blog display</div>
        {% endif %}
    </table>
</div>

{% if user.is_authenticated %}
    <P>Create a new blog</P>
    {% if error %}
        <p><strong>{{ error }}</strong></p>
    {% endif %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

{% endif %}
</body>
</html>