{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src={% static "users/js/user.js" %}></script>

    <script>
        window.onload = function () {
            resize_iframe("#ifm_image","#login")
        }


        $(document).ready(function () {
            $("#a_user_register")[0].href = "/user/register/?next=" + window.location.pathname;

            $("#x_login").click(function () {
                $("#login").hide();
                $("#shadow").eq(0).css("opacity", "0").css("zIndex", "-1");
            })

            //登录框中用户名密码输入框focus事件
            $("input#id_username").focus(function () {
                $("#label_username")[0].style.backgroundPosition = "0-108px";
            }).blur(function () {
                $("#label_username")[0].style.backgroundPosition = "0-68px";
            });
            $("input#id_password").focus(function () {
                $("#label_password")[0].style.backgroundPosition = "0-187px";
            }).blur(function () {
                $("#label_password")[0].style.backgroundPosition = "0-147px";
            });

            if ($("#logout")[0]) {
                $("#logout")[0].href = "/user/logout/?next=" + (window.location.pathname ? window.location.pathname : "");

            }

            $('#login_form').submit(function () {
                if ($('#id_username').val() == "" | $('#id_password').val() == "") {
                    return false
                }
            })

            $("#x_login").click(function () {
                close_self_iframe('#ifm_image', '#shadow')

            })
            {% if success %}
                var success = '{{ success }}'
                if (success == 'true') {
                    close_self_iframe('#ifm_image', '#shadow')
                    parent.location.reload(true)
                }
            {% endif %}
        })


    </script>

    <style>
        input:-webkit-autofill {
            box-shadow: 0 0 0 1000px white inset;
        }
    </style>
</head>
<body>


<div id="login" align="center"
     style="background: white; position: fixed; width: 450px; border: 1px black solid; z-index: 1000;">

    <div style="background: #dbf3ff; padding: 20px;border-bottom: #c3c3c3 1px solid">
        <h2 style="margin: 0; ">登录贴吧帐号</h2>
        <div id="x_login" style="position: absolute; right: 20px; top: 25px">&times;</div>
    </div>

    <form id="login_form" action="/user/login/" method="post">
        <div style="width: 400px">

            <p style="border-radius:5px; overflow: hidden; padding: 10px; border: 1px rgb(169, 169, 169) solid; width: 90%; margin-bottom: 0">
                <label for="id_username" id="label_username"
                       style="background-image:url({% static "users/pic/login.png" %}); background-position:0-68px ; width: 24px; height: 24px; display: block; overflow: hidden; float: left"></label>

                <input id="id_username" maxlength="30" name="username" type="text" placeholder="用户名/邮箱"
                       style="float: left; border: none;width: 300px; height: 24px; margin-left: 5px;outline:none;">
            </p>

            <p style="border-radius:5px; overflow: hidden; padding: 10px; border: 1px rgb(169, 169, 169) solid; width: 90%; margin-bottom: 0">
                <label for="id_password" id="label_password"
                       style="background-image:url({% static "users/pic/login.png" %}); background-position:0-147px ; width: 24px; height: 24px; display: block; overflow: hidden; float: left"></label>

                <input id="id_password" name="password" type="password" placeholder="密码"
                       style="float: left; border: none;width: 300px; height: 24px; margin-left: 5px;outline:none;">
            </p>
            {% csrf_token %}
            {% if error %}
                {{ error }}
            {% endif %}
            <br/>
            <input type="submit" value="登录"
                   style="width: 95%; height: 30px; background-color: #21b7ff; color: white;font-weight: 700;font-size: 16px ;border: none"/>
            <br/>
        </div>
    </form>
    <br/>
    <a id="a_user_register" href="">用户注册</a>
    <br/>
    <br/>
</div>

</body>
</html>