{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script>
        $(document).ready(function () {
            $("#headimg").mouseover(function () {
                $("#a_changeimg").eq(0).show()
            }).mouseout(function () {
                $("#a_changeimg").eq(0).hide()
            })

            $("#lable_user_info").click(function(){
                $("#iframe_user_info")[0].src = "/user/update_user_info/"
            })

            $("#lable_headimg_setting").click(function(){
                $("#iframe_user_info")[0].src = "/user/headimg_setting/"
            })

        })

        //ifraim 自适应高度
        function changeheight(id, height){
            $(id).height(height);
        }


    </script>
</head>
<body style="background-color:#e4eaff">

{% include 'blog/navigation.html' %}

<div
        style="width:800px;margin:0 auto; border:1px solid black; background-color: #ffffff;">
    <div style="overflow: hidden">
        <div style="width: 20%; float: left;">
            <div id="ibx-uc" style="text-align: center">
                <div style="padding: 30px 0 0 0">
                    <div style="height: 78px;">
                        <div id="headimg"
                             style="position: absolute; width: 78px;height: 78px;margin-left: 39px; border: 1px solid black;">
                            <a id="a_changeimg"
                               style="position: absolute; bottom: 0; width: 78px; color: white; background: rgba(0,0,0,.6); display: none;">更换头像</a>
                            <img style="width: 72px;height: 72px;padding: 3px"
                                 src="{{ user.person.head_img.url }}">
                        </div>
                    </div>

                    <div style="margin-top: 10px">
                        <a>{{ user.username }}</a>
                    </div>
                    <br/>
                    <div style="border-top: 1px black solid;">
                        <div id="lable_user_info" style="padding: 10px 0 10px 0; border-bottom: 1px black solid">
                            基本资料
                        </div>
                        <div id="lable_headimg_setting" style="padding: 10px 0 10px 0; border-bottom: 1px black solid">
                            头像设置
                        </div>
                        <div style="padding: 10px 0 10px 0; border-bottom: 1px black solid">
                            密码修改
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div style=" float: left; width: 79%; border-left: 1px black solid ">
            <iframe id="iframe_user_info" src="/user/update_user_info/" frameborder="0" style="padding: 0px; width: 100%; height: 100%;"></iframe>
        </div>

    </div>
</div>
<br/>
<br/>
<br/>

</body>
</html>