{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User Info</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.js.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.js.css' %}">
    <title>blog</title>
    -->
</head>
<body>

 {% include 'users/base/user_lable.html' %}
<br/>
<br/>
<br/>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>类别</th>
            <th>详细</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>用户名</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>姓</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>名</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>权限组</td>
            <td><a href="{% url 'users:show_permission' %}">{{ user.groups.all }}</a></td>
        </tr>

        {% if not followers %}
        <tr>
            <td>
                我的好友
            </td>
            <td>无</td>
        </tr>
        {% else %}
        {% for f in followers %}
        <tr>
            <td>
                {% if forloop.counter == 1 %}
                我的好友
                {% endif %}
            </td>
            <td><a href="{% url 'users:user_info' f.follower.id %}">{{ f.follower }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
</div>

</body>
</html>