{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script>

        function register_verication(dom, reg) {
            var result = true;
            var verication_obj = "";
            var verication_id = "";
            if (dom[0].id == "reg_username") {
                verication_obj = "用户名";
                verication_id = "username";
            }
            else if (dom[0].id == "reg_password") {
                verication_obj = "密码";
                verication_id = "password";
            }
            else {
                verication_obj = "邮箱";
                verication_id = "email";
            }
            $("#" + verication_id + "_tips").eq(0).hide().text("");
            if (!reg.test(dom.val())) {
                result = false;
                $("#" + verication_id + "_succe").eq(0).hide().text("");
                if (verication_id == "username") {
                    $("#" + verication_id + "_error").eq(0).show().text("× 用户名包含特殊字符或长度不符");
                }
                else if (verication_id == "password") {
                    $("#" + verication_id + "_error").eq(0).show().text("× 密码包含不支持的特殊字符或长度不符");
                }
                else {
                    $("#" + verication_id + "_error").eq(0).show().text("× 邮箱地址有误");
                }
            }
            else {
                if (verication_id == "username" || verication_id=="email") {
                    $.ajax({
                        type: "POST",
                        url: "/user/register_verification/",
                        data: JSON.stringify({
                            "data": dom.val(),
                            "type" : verication_id
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (msg) {
                            if (msg.warning != "") {
                                $("#" + verication_id + "_succe").eq(0).hide().text("");
                                $("#" + verication_id + "_error").eq(0).show().text("× " + msg.warning);
                                result = false
                            }
                            else {
                                $("#" + verication_id + "_succe").eq(0).show().text("√");
                                $("#" + verication_id + "_error").eq(0).hide().text("");
                            }
                        }
                    });
                }
                else {
                    $("#" + verication_id + "_error").eq(0).hide().text("");
                    $("#" + verication_id + "_succe").eq(0).show().text("√");
                }
            }
            return result
        }

        $(document).ready(function () {

            $("input#reg_username").focus(function () {
                $("#username_tips").eq(0).show().text("最长14个英文或7个汉字");
                $("#username_succe").eq(0).hide().text("");
                $("#username_error").eq(0).hide().text("");
            }).blur(function () {
                register_verication(dom = $("input#reg_username"), reg = /^[\u4e00-\u9fa5]{1,7}$|^[\dA-Za-z_]{1,14}$/);
            });

            $("input#reg_password").focus(function () {
                $("#password_tips").eq(0).show().text("8到16位英文，数字，特殊符号(# _ $)组成");
                $("#password_succe").eq(0).hide().text("");
                $("#password_error").eq(0).hide().text("");
            }).blur(function () {
                register_verication(dom = $("input#reg_password"), reg = /^\w{8,16}$/);
            });

            $("input#reg_email").focus(function () {
                $("#email_tips").eq(0).show().text("请输入正确的邮箱地址");
                $("#email_succe").eq(0).hide().text("");
                $("#email_error").eq(0).hide().text("");
            }).blur(function () {
                register_verication(dom = $("input#reg_email"), reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/);
            })

            $("input#reg_password_confirm").focus(function () {
                $("#password_confirm_tips").eq(0).show().text("");
                $("#password_confirm_succe").eq(0).hide().text("");
                $("#password_confirm_error").eq(0).hide().text("");
            }).blur(function () {
                if ($("input#reg_password_confirm").val() != $("input#reg_password").val()) {
                    $("#password_confirm_error").eq(0).show().text("× 两次密码输入不一致");
                }
                else {
                    if ($("input#reg_password_confirm").val() == "") {
                        $("#password_confirm_succe").eq(0).hide().text("");
                        $("#password_confirm_error").eq(0).show().text("× 密码不能为空");
                    }
                    else {
                        $("#password_confirm_succe").eq(0).show().text("√");
                        $("#password_confirm_error").eq(0).hide().text("");
                    }

                }
            })

            $("#x_register").click(function(){
                $("#register").hide();
                $("#shadow").eq(0).css("opacity", "0").css("zIndex", "-1");
            })

        });

        //提交前检查表单
        function check() {
            var result1 = register_verication(dom = $("input#id_username"), reg = /^[\u4e00-\u9fa5]{1,7}$|^[\dA-Za-z_]{1,14}$/)
            var result2 = register_verication(dom = $("input#id_email"), reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/)
            var result3 = register_verication(dom = $("input#id_password"), reg = /^\w{8,16}$/)
            return result1 && result2 && result3;
        }


    </script>
    <style>
        input {
            float: left;
            padding: 5px;
            border: black 1px solid;
            width: 300px;
            height: 24px;
            margin-left: 5px;
            outline: none;

        }

    </style>
</head>
<body style="">

<div id="register"
     style="background: white;position: fixed;margin:0 auto; width: 800px; border: 1px black solid; z-index: 1000;display: none;">

    <div style="background: #dbf3ff; padding: 20px; border-bottom: #c3c3c3 1px solid;margin-bottom: 20px">
        <h2 style="margin: 0 0 0 220px ">注册贴吧帐号</h2>
        <div id="x_register" style="position: absolute; right: 120px; top: 25px">&times;</div>

    </div>


    {% if error %}
        <p><strong>{{ error }}</strong></p>
    {% endif %}

    <form id="register_form" action="/user/register/" method="post" onsubmit="return check()">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div style="overflow: hidden">
                {{ field.errors }}
                <label for="{{ field.id_for_label }} "
                       style="float: left;height: 40px;line-height: 40px; margin-right: 5px;text-align: right; width: 150px; font-weight: 600; font-size: 13px">{{ field.label }}:</label>
                {{ field }}
                {% if field.id_for_label == "reg_username" %}
                    <span id="username_succe"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="username_error"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="username_tips"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                {% elif field.id_for_label == "reg_email" %}
                    <span id="email_succe" style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="email_error" style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="email_tips" style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                {% elif field.id_for_label == "reg_password" %}
                    <span id="password_succe"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="password_error"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="password_tips"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                {% elif field.id_for_label == "reg_password_confirm" %}
                    <span id="password_confirm_succe"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="password_confirm_error"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                    <span id="password_confirm_tips"
                          style="display: none;height: 40px;line-height: 40px;margin-left: 5px"></span>
                {% endif %}
                <script>
                    $("#{{ field.id_for_label }}").css("border-radius", "5px").css("border-color", "rgb(169, 169, 169)")
                </script>
            </div>
        {% endfor %}
        <br/>
        <div style="overflow: hidden;;">
            <label for="reg_password" id="reg_label_password"
                   style="float: left;height: 24px;line-height: 24px; margin-right: 5px;text-align: right; width: 150px"></label>

            <input type="submit" value="注册"
                   style="float: left;width: 310px;height: 24px; background-color: #21b7ff; color: white;font-weight: 700;font-size: 16px ;border: none;margin-left: 5px"/>

        </div>
    </form>
<br/>
<br/>
</div>
</body>
</html>