{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{% static "users/css/laydate.css" %}"/>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    {{ form.media }}
    <script src="{% static "users/js/jsAddress.js" %}"></script>
    <script src="{% static "users/js/laydate.js" %}"></script>

    <script>

        function birthday_combition(){
            $("#id_birthday").attr("value", $("#select_year").val()+"-"+$("#select_month").val()+"-"+$("#select_day").val())
        }

        $(document).ready(function () {
            addressInit('id_hometown_province', 'id_hometown_city', 'id_hometown_area');
            birthdayInit('select_year', 'select_month', 'select_day');
            parent.changeheight(id = "#iframe_user_info", height = $("body").height() + 100)

            $("#select_year").change(function(){
                birthday_combition()
            })
            $("#select_month").change(function(){
                birthday_combition()
            })
            $("#select_day").change(function(){
                birthday_combition()
            })

        })


    </script>
    <style>
        th {
            text-align: right;
            vertical-align: middle;
        }

        ul {
            overflow: hidden;
            padding: 8px 0 8px 0;
            margin: 0;
        }

        ul li {
            list-style-type: none;
            float: left;
            margin: 0 10px 0 0;
            text-align: left;

        }


    </style>
</head>
<body>
<div style="margin-left: 50px; ">
    <h2 style="margin-bottom: 10px">基本资料</h2>
</div>
<div style="border-bottom: 1px black solid;margin: 0 50px 0 50px"></div>
<form action="/user/update_user_info/" method="post">
    {% csrf_token %}
    <table id="user_info" style="margin: 10px 0 0 50px; border-collapse:   separate;   border-spacing:   10px;">
        <tbody>
        <tr>
            <th>
                {{ form.sex.label }}
            </th>
            <td>
                {{ form.sex }}{{ error.sex }}
            </td>
        </tr>

        <tr>
            <th>
                {{ form.birthday.label }}
            </th>
            <td>
                <div style="overflow:hidden;">
                    <div style="float: left">
                        <select id="select_year"></select>
                    </div>
                    <div style="float: left">
                        <select id="select_month"></select>
                    </div>
                    <div style="float: left">
                        <select id="select_day"></select>
                    </div>
                    <div style="float: left; margin: 5px 0 0 10px; display: none">{{ form.birthday }}</div>
                    <div style="float: left; margin: 5px 0 0 10px">{{ error.birthday }}</div>
                </div>

            </td>
        </tr>

        <tr>
            <th>
                {{ form.hometown_province.label }}
            </th>
            <td>
                <div>{{ form.hometown_province }}{{ error.province }}</div>
                <div>{{ form.hometown_city }}{{ error.city }}</div>
                <div>{{ form.hometown_area }}{{ error.area }}</div>



            </td>
        </tr>

        <tr>
            <th>
            </th>
            <td>
                <div style="overflow:hidden;">
                    <input type="submit" value="提交"
                           style="width: 310px;background-color: #21b7ff; color: white;font-weight: 700;font-size: 16px ;border: none;"/>
                </div>
            </td>
        </tr>


        </tbody>
    </table>
</form>
</body>
</html>